# String Data Type all operators

In [84]:
name = "hassan waqas"
print(name.capitalize())
name2=name.upper()
print(name2)
print(name2.lower())
print(name.title())

Hassan waqas
HASSAN WAQAS
hassan waqas
Hassan Waqas

In [16]:
name3=name2.casefold()
print(name3)

hassan waqas

In [19]:
name4=name3.center(18,"#")
print(name4)
print(name4.center(29))

###hassan waqas###
      ###hassan waqas###

In [21]:
name5=name.count('a')
print(name5)
print(name4.count('#'))

4
6

In [53]:

name6=name2.encode('latin5','ignore')
print(name6)

b'HASSAN WAQAS'

In [54]:
print(name6.decode())

HASSAN WAQAS

In [66]:
name8 = name.endswith('waqas')
print(name8)
name9 = name.endswith('waqas', 1, 5)    
print(name9)

True
False

In [70]:
name10 = "Mujtaba\tHassan"
name_10 = name10.expandtabs(16)
print(name_10)

Mujtaba         Hassan

In [80]:
print(name_10.find('Hassan'))

16

In [81]:
print("My son is {} years old".format(7))  #format method passes argument in string inside {}

My son is 7 years old

In [83]:
a = {'x':'Hassan','y':'34'}
print("{x} is {y} years old".format_map(a) )

Hassan is 34 years old

In [89]:
print(name_10.index('j'))

2

In [92]:
print(name_10.isalnum())
name11 = "hassan24"
print(name11.isalnum())

False
True

In [93]:
name11.isalpha()

False

In [94]:
name11.isascii()

True

In [99]:
name12 = 'a'
print(name11.isdecimal())
print(name12.isdigit())
print(name11.islower())
print(name_10.isidentifier())

False
False
True
False

In [101]:
name11.isnumeric()

False

In [103]:
name11.isprintable()

True

In [104]:
name12.isspace()

False

In [105]:
name11.isspace()

False

In [106]:
name_10.istitle()

True

In [107]:
name12.isupper()

False

In [114]:
name13= ["Haseeb hassan","Mujtaba Hassan"]
print("My sons are ",' & '.join(name13))

My sons are  Haseeb hassan & Mujtaba Hassan

In [ ]:
name12.